.bookList{
  flex: 4;
}

.bookListItem{
  display: flex;
  align-items: center;
}

.bookListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.bookListEdit{
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.bookListDelete{
  color: red;
  cursor: pointer;
}